/DEV/.vs
/DEV/QRFrameworkCoreMVC/bin
/DEV/QRFrameworkCoreMVC/obj
/DEV/QRFrameworkCore.Data/bin
/DEV/QRFrameworkCore.Data/obj
/DEV/QRFrameworkCore/bin
/DEV/QRFrameworkCore/obj
/DEV/QRFramework.Services/bin
/DEV/QRFramework.Services/obj
/DEV/CsvHelper/bin
/DEV/CsvHelper/obj
/DEV/TestRepository/bin
/DEV/TestRepository/obj
/DEV/TestAll/obj
/DEV/TestAll/bin
